PORT=8000
NODE_ENV=production
APP_NAME=Plant_World
CORS_ORIGINS=http://localhost:5173
API_KEY=f0e[mqzEJ?MBSR:|)d33ddde8kGOsjc2||@bM:qr[ptM5b2933f
APP_SECRET=gN@84WFYR)}i9Ljus})WZ*d33ddde8kGOsjc2||@bM:qr[ptM5b2933f

JWT_SECRET=kafonqofn46576897010yoncsknfl$%^*1313b13hhooh1fjif1onf1nkl1fojk1f
JWT_EXPIRY=86400000
COOKIE_NAME=Plant_world
COOKIE_SECRET=53F1F8E6F773A88F3F72BC5988CDB
PROD_DATABASE_URL=mongodb+srv://plantWorld:MePdhpoxjGAFha75@cluster0.fmvmv30.mongodb.net/?appName=Cluster0
DEV_DATABASE_URL=mongodb+srv://plantWorld:MePdhpoxjGAFha75@cluster0.fmvmv30.mongodb.net/?appName=Cluster0

CLOUDINARY_CLOUD_NAME=dgz0be5p3
CLOUDINARY_API_KEY=499581227153715
CLOUDINARY_API_SECRET=vB889mYx3Nnk6RxDcaUaT17PJ_A

PAYMENT_SECRET_KEY=your_stripe_secret_key_here


